*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
}
.header{
    height: 100vh;
    background-image: url(images/1main.jpg);
    background-position: center;
    background-size: cover;
   
}
.container{
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  .navbar {
      overflow: hidden;
      background-color:none;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border-radius: 2px solid whitw;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      border-radius: 2px solid white;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color:#40c0e0;
      border-radius: 2px solid;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:#40c0e0a6;
      min-width: 50px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 2px solid white;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
      border-radius: 1px solid #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }







/*---- text box---- */



.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: 10px 0, 40px;
    font-size: 20px;
}

/*---- course1------ */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.coursecol{
    flex-basis: 50%;
    flex-grow: 1;
    background: #6a99b8;
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.coursecol:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.664);
}
/* -----Login form----*/

#login {
  background-color: teal;
}


.container1{
  margin: auto;
  width: 50%;
  padding: 13px;
  background-color: white;
  box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
}
input[type='text'],
input[type='password'],
input[type='email']{
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus{
  background-color: #ddd;
  outline: none;
}
.Registerbtn{
  background-color: teal;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.sign{
  text-align: center;
}
/* -----course2--------- */


.text-box1{
  width: 90%;
  color:white;
  position: absolute;
  text-align: center;
  transform: translate(-30%,-30%); 
  top: 30%;
  left: 30%;
  
  
}
.text-box1 h1{
  font-size: 40px;
  
}
.text-box1 p{
  margin: 10px 0, 40px;
  font-size: 15px;
  
}
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/courses.jpg);
  background-position: center;
  background-size: cover;
}
  
#row{
  display: flex;
  height: 100px;
  flex-wrap: wrap;
}
 div #row1 div{
  background-color: rgb(20, 84, 202);
  height: 5px;
  width: 150px;
  margin-top: 10%;
}
div #row1 h1{
  color: white;
  text-align: center;
}
#row div{
  background: rgb(56, 126, 192);
  height: 150px;
  width: 150px;
  margin: 5px;
  flex-grow: 1;
  border-radius: 10px;
  
}



/* ---E-materials3--- */

.text-box2{
  width: 90%;
  color:white;
  position: absolute;
  text-align: center;
  transform: translate(-30%,-30%); 
  top: 30%;
  left: 30%;
  
  
}
.text-box2 h1{
  font-size: 40px;
  
}
.text-box2 p{
  margin: 10px 0, 40px;
  font-size: 15px;
  
}
.sub-header1{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/v2.png);
  background-position: center;
  background-size: cover;
}
  
#roww{
  display: flex;
  height: 100px;
  flex-wrap: wrap;
}
 div #row2 div{
  background-color: rgb(135, 33, 202);
  height: 5px;
  width: 150px;
  margin-top: 10%;
}
div #row2 h1{
  color: #fff;
  text-align: center;
}
#roww div{
  background: rgb(5, 3, 3);
  height: 150px;
  width: 150px;
  margin: 5px;
  flex-grow: 1;
  border-radius: 10px;
  
}

/*---- E-materials---- */

.header1{
  height: 50vh;
  background-image: url(images/e2.jpg);
  background-position: center;
  background-size: cover;
 
}
.text-box3{
  width: 90%;
  color:rgb(15, 15, 17);
  position: absolute;
  text-align: center;
  transform: translate(-30%,-30%); 
  top: 30%;
  left: 30%;
  
  
}
.text-box3 h1{
  font-size: 40px;
  
}
.text-box3 p{
  margin: 10px 0, 40px;
  font-size: 15px;
  
}
.b1{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  
  margin: 20px;
  position: relative;
  overflow: hidden;
}


.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer h3{
  text-align: center;
  color: white;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.layer:hover{
 background: rgba(226, 0, 0, 0.7);
}

.blog{
  display: flex;
  height: 300px;
  
}